body {
    font-family: Arial;
    background-color: white;
}

h1 {
    color: purple;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: green;
}

section {
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}

a {
    color: blue;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final {
    display: flex;
    flex-direction: row;
}

.final * {
    margin: 10px;
}

footer a {
    float: right;
    margin: 10px;
}

a:hover {
    background-color: orange;
    color: green;
}
